.layout__splash_header
{
    grid-area: sp-header;
}

.layout__splash_body
{
    grid-area: sp-body;
}

.layout__splash_cities
{
    grid-area: sp-cities;
}

.layout__splash_insights
{
    grid-area: sp-insights;
}

.layout__splash_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75vh auto 75vh;
    grid-template-areas:
        "sp-header sp-header"
        "sp-body sp-body"
        "sp-cities sp-insights"
    ;
}

@media only screen and (max-width: 1050px) {
    .layout__splash_body
    {
        height: auto;
    }
}

@media only screen and (max-width: 700px) {
    .layout__splash_container
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 75vh auto 65vh 65vh;
        grid-template-areas:
            "sp-header"
            "sp-body"
            "sp-cities" 
            "sp-insights"
        ;
    }
}