.layout__splash_header
{
    grid-area: sp-header;
    height: 73vh;
}

.layout__splash_body
{
    grid-area: sp-body;
    height: 75vh;
}

.layout__splash_footer
{
    grid-area: sp-footer;
    background-color: gold;
    height: 75vh;
}

.layout__splash_container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "sp-header"
        "sp-body"
        "sp-footer"
    ;
}

.layout__main_container
{
    overflow: auto;
}