.layout__one_insight_text
{
    grid-area: insight-text;
}

.layout__one_insight_header
{
    grid-area: insight-photo;
}

.layout__one_insight_edit
{
    grid-area: insight-edit;
}

.layout__one_insight_container
{
    display: grid;
    grid-template-columns: 1fr 4fr 10px;
    grid-template-rows: auto;
    grid-template-areas:
        "insight-photo insight-text insight-edit"
    ;
    margin: 15px 0 15px 0;
}

.layout__insight_create
{
    margin: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.layout__insight_create_form
{
    width: 100%;
    margin: 10px 0 10px 0;
}