.insight_container
{
    margin: 10px;

}

.text_container
{
    padding: 0 10px 10px 10px;
}

.headers_container
{
    font-size: 18px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.headers_container img
{
    margin-top: 5px;
    height: 75px;
    width: 75px;
    border-radius: 40px;
}

.text_container span
{
    font-weight: 600;
}

.username_link
{
    text-decoration: none;
    color: rgb(99, 99, 99);
}

.username_link:hover
{
    color: #000;
}

.text_show_all
{
 /* styling not needed */
}

.text_dots
{
    text-align: end;
}

.text_show_min
{
    overflow: hidden;
    height: 93px;
}

.text_view_more
{
    font-weight: 600;
}

.text_view_more:hover
{
    cursor: pointer;
    text-decoration: underline;
}