.layout__footer_container
{
    grid-area: footer;
    height: 5vh;
}

.layout__header_container
{
    grid-area: header;
    height: 5vh;
}

.layout__main_container
{
    grid-area: main;
}

#root
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh auto 5vh;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
    height: 100vh;
    overflow-wrap: anywhere;
    /* overflow: hidden; */
}

@media only screen and (max-height: 800px) {
    #root 
    {
        grid-template-rows: 7vh auto 7vh;   
    }

    .layout__header_container
    {
        height: 7vh;
    }

    .layout__footer_container
    {
        height: 7vh;
    }
}

@media only screen and (max-height: 600px) {
    #root 
    {
        grid-template-rows: 10vh auto 10vh;   
    }

    .layout__header_container
    {
        height: 10vh;
    }

    .layout__footer_container
    {
        height: 10vh;
    }
}

@media only screen and (max-height: 400px) {
    #root 
    {
        grid-template-rows: 15vh auto 15vh;   
    }

    .layout__header_container
    {
        height: 15vh;
    }

    .layout__footer_container
    {
        height: 15vh;
    }
}