.layout__footer_container
{
    grid-area: footer;
    height: 5vh;
}

.layout__header_container
{
    grid-area: header;
    height: 5vh;
}

.layout__main_container
{
    grid-area: main;
}

#root
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
    height: 100vh;
}

@media only screen and (max-width: 1000px) {
    #root{
        grid-template-rows: 6.5vh auto;
    }

    .layout__footer_container
    {
        grid-area: footer;
        height: 6.5vh;
    }
}