.sign_container
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 15px;
    max-width: 500px;
    background-color: #000;
    color: #fff;
}

.header {
    font-size: 36px;
    text-align: center;
    margin-bottom: 80px;
    text-transform: uppercase;
}

.header_container
{
    width: 100%;
}

.errors
{
    color: rgb(255, 0, 0);
    font-size: 12px;
}

.form_input
{
    width: 100%;
    position: relative;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    margin-left: 80px;
}

.form_input input
{
    width: 60%;
    font-size: 14px;
    position: absolute;
    font-size: 18px;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 5px;
    border-bottom: 2px solid rgb(92, 92, 92);
    padding: 5px 5px 5px 5px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: rgb(255, 255, 255);
    background-color: #000;
}

.form_input label {
    position: absolute;
    font-size: 16px;
    pointer-events: none;
    padding: 5px 5px 5px 5px;
    color: #fff;
}

.form_input input:focus ~ label,
.form_input input:not(:placeholder-shown) ~ label 
{
    font-size: 14px;
    top: -20px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.form_input input:focus
{
    border-bottom: 2px solid rgb(255, 255, 255);
}