.layout__photo_container
{
    grid-area: photo;
}

.layout__photo_container img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.layout__input_container
{
    grid-area: login;
}

.layout__login_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "login photo" 
    ;
    overflow: hidden;
}


@media only screen and (max-width: 600px) {
    .layout__login_container
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "login"
        ;
    }

    .layout__photo_container img
    {
        display: none;
    }
}