.layout__photo_container
{
    grid-area: photo;
    height: 100%;
}

.layout__photo_container img
{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.layout__input_sign_up_container
{
    grid-area: sign-up;
}

.layout__sign_up_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh;
    grid-template-areas:
        "photo sign-up"
    ;
    overflow: hidden;
}

.layout__input_login_container
{
    grid-area: login;
}

.layout__login_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh;
    grid-template-areas:
        "login photo" 
    ;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    .layout__sign_up_container
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 87vh;
        grid-template-areas:
            "sign-up"
        ;
    }

    .layout__login_container
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 87vh;
        grid-template-areas:
            "login"
        ;
    }

    .layout__photo_container img
    {
        display: none;
    }

    .layout__main_container
    {
        /* overflow: hidden; */
    }
}

.login_form__errors_container
{
    height: 50px;
}