.layout__photo_container
{
    grid-area: photo;
}

.layout__photo_container img
{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.layout__input_container
{
    grid-area: sign-up;
}

.layout__sign_up_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "photo sign-up"
    ;
    overflow: hidden;
}


@media only screen and (max-width: 600px) {
    .layout__sign_up_container
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "sign-up"
        ;
    }
    .layout__photo_container img
    {
        display: none;
    }
}