.header_outer_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit_input_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit_buttons
{
    display: flex;
    justify-content: flex-end;
}

.header_container .errors div
{
    color: red;
}