.header_outer_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit_input_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit_buttons
{
    display: flex;
    justify-content: flex-end;
}

.header_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

.header_container div
{
  font-size: 12px;
}

.header_description
{
    color: #000;
}

.header_outer_container p.header_description_edit_city
{
    color: #000;
    font-size: 14px;
}

.errors
{
    font-size: 12px;
    height: 75px;
    width: 100%;
    color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.errors_insight
{
    font-size: 12px;
    height: 15px;
    width: 100%;
    color: red;
}