/* frontend/src/context/Modal.css */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_content {
    position: absolute;
    background-color:#FFF;
    border-radius: 7px;
    width: 500px;
    padding: 1.5em;
}

.modal_verify{
    border-radius: 5px;
    font-weight: bold;
}

/* Buttons modal */
.display_buttons{
    display: flex;
    width: 60%;
    margin: auto;

}

.button_style_exit, .button_style_stay{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-style: none;
    border-radius: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 80px;
    text-align: center;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button_style_exit{
    background-color: rgb(244, 244, 244);
    border: rgb(159, 159, 159) solid 1px;
    color: rgb(172, 170, 170);
}

.button_style_stay{
    border: #81EAAB solid 1px;
    background-color: #81EAAB;
    color: #fff;
}

.button_style_stay:hover
{
    background-color: #1ce36c;
    cursor: pointer;
}

.button_style_exit:hover
{
    background-color: rgb(224, 224, 224);
    border: rgb(70, 70, 70) solid 1px;
    color: #000;
    cursor: pointer;
}
